.trafficLightBody {
    height: 70vh;
    width: 30vh;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.redLight {
    height: 20vh;
    width: 25vh;
    background-color: red;
    border-radius: 100%;
    margin: 5%;
}

.orangeLight {
    height: 20vh;
    width: 25vh;
    background-color: orange;
    border-radius: 100%;
    margin: 5%;
}

.greenLight {
    height: 20vh;
    width: 25vh;
    background-color: green;
    border-radius: 100%;
    margin: 5%;
}

.selected {
    border: 7px yellow solid;
}

