.trafficLightBody {
    height: 70vh;
    width: 30vh;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.redLight {
    height: 20vh;
    width: 25vh;
    background-color: red;
    border-radius: 100%;
    margin: 5%;
}

.yellowLight {
    height: 20vh;
    width: 25vh;
    background-color: yellow;
    border-radius: 100%;
    margin: 5%;
}

.greenLight {
    height: 20vh;
    width: 25vh;
    background-color: green;
    border-radius: 100%;
    margin: 5%;
}

.selected {
    box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0.5);
  }
  
  @keyframes shine {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
  }
  
  .shine {
    animation: shine 1.5s infinite;
  }